h1 {
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

p {
    color: white;
    font-size: 24px;
}

#gameScreen {
    background-image: url(../images/background2.jpg);
    background-repeat:no-repeat;
    max-width: 75%;
    background-size:cover;
    min-height: 800px;
    max-height: 1200px;
}

.buttonrow {
    min-height: 150px;
}

.spriteRow {
    min-height: 100px;
}

.fighterText{
    font-size: 36px;
}

.sprite1{
    transform: scale(4);
}

.sprite2{
    transform: rotateY(180deg) scale(4);
}

.top-buffer {
    margin-top:200px;
}

@media only screen and (min-width: 1200px){

#gameScreen{
    min-height: 500px;
    max-height: 1000px;
}

}