* {
    user-select: none;
}

h1 {
    font-size: 48px;
    font-family: 'Exo 2', sans-serif;
}

h2 {
    font-size: 36px;
    font-family: 'Exo 2', sans-serif;
}

p {
    color: white;
    font-size: 24px;
    font-family: 'Exo 2', sans-serif;
}

span {
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
}

#gameScreen {
    background-image: url(../images/background2.jpg);
    background-repeat:no-repeat;
    max-width: 75%;
    background-size:cover;
    min-height: 900px;
    max-height: 1000px;
}

.spriteRow {
    min-height: 120px;
}

#fighterRow {
    min-height: 150px;
}

.fighterText{
    font-size: 36px;
}

.sprite1{
    transform: scale(3);
}

.sprite2{
    transform: rotateY(180deg) scale(3);
}

.top-buffer {
    margin-top:200px;
}

.combatBox {
    min-height: 100px;
    color:white;
}

@media only screen and (min-width: 1200px){

#gameScreen{
    min-height: 500px;
    max-height: 1000px;
}

}